.header {
  background: #ffe1ce ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  padding: 0 3rem;
  display: flex;
  align-items: center;
}
.logo__name{
  padding: 0 .5rem;
}
.logo__symbol{
  border-radius: 50%;
  padding: 1rem;
  background: #1D8348;
}
.header .navigation-links ul{
  display: flex;
  position: relative;
}

.header .navigation-links .selected{
  color: #f38454;
}
.header .navigation-links .show-selected{
  position: absolute;
  width: 4rem;
  height: 2rem;
  background-color: #f38454;
  border: 2px solid red;
}



.header .navigation-links li{
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 1rem;
}



img {
  border-radius: 50%;
}
.header .image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
}
.header .dropdowns {
  display: flex;
  align-items: center;
  padding: 0 5rem 0 0;
}
.header .dropdowns .icons{
  border: 2px solid red;
  background-color: red;
  padding: 0 2rem;
}




